body {
    width: 1240px;
    margin: 0px;
    background-color: #f7f7f7;
    font-family: Montserrat, Roboto, sans-serif;
}



.menu {
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;    
    background: #464963;
}

.logo {
    position: absolute;
    width: 111px;
    height: 34px;
    left: 55px;
    top: 13px;
}

.min-1 {
    position: absolute;
    width: 104px;
    height: 19px;
    left: 317px;
    top: 22px;
}

.min-1:hover {
    position: absolute;
    width: 104px;
    height: 38px;
    left: 317px;
    top: 22px;
    border-bottom: #ffffff solid 2px;
}

.min-2 {
    position: absolute;
    height: 19px;
    left: 480px;
    top: 22px;
}

.min-2:hover {
    position: absolute;
    width: 55px;
    height: 38px;
    left: 480px;
    top: 22px;
    border-bottom: #ffffff solid 2px;
}

.min-3 {
    position: absolute;
    height: 19px;
    left: 590px;
    top: 22px;
}

.min-3:hover {
    position: absolute;
    width: 55px;
    height: 38px;
    left: 590px;
    top: 22px;
    border-bottom: #ffffff solid 2px;
}

.min-1 a {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;    
    color: #FFFFFF;
    text-decoration: none;
    list-style: none;
}

.min-2 a {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;    
    color: #FFFFFF;
    text-decoration: none;
}

.min-3 a {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;    
    color: #FFFFFF;
    text-decoration: none;
    list-style: none;
}

.min-1 li {
    list-style: none;
}

.min-2 li {
    list-style: none;
}

.min-3 li {
    list-style: none;
}


/* NAV 2 */


.min-4 {
    position: absolute;
    display: inline-flex;
    width: 104px;
    height: 19px;
    left: 854px;
    top: 22px;
}

.ico-1 {
    width: 30px;
    height: 20px;
    padding: 0px 10px 0px 0px;
}

.min-4 a {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
}

.min-4 li {
    list-style: none;
}


.min-5 {
    position: absolute;
    display: inline-flex;
    width: 220px;
    height: 17px;
    left: 1010px;
    top: 24px;
}

.ico-2 {
    width: 30px;
    height: 20px;
    padding: 0px 10px 0px 0px;
}

.min-5 a {
    font-family: Fira Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
}

.min-5 li {
    list-style: none;
}


.min-6 {
    position: absolute;
    display: inline-flex;
    width: 104px;
    height: 17px;
    left: 1182px;
    top: 24px;
}

.ico-3 {
    width: 30px;
    height: 20px;
    padding: 0px 10px 0px 0px;
}

.min-6 a {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
}

.min-6 li {
    list-style: none;
}

/* TEXT */

.h-text {
    position: absolute;
    width: 651px;
    height: 34px;
    left: 54px;
    top: 92px;
}

.h-text p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px; 
    color: #000000;
}

/* INPUT */

.input-1 {
    position: absolute;
    padding: 200px 0px 0px 0px;
    height: 19px;
    left: 4.3%;
    right: 88.12%;
    top: calc(50% - 19px/2 - 342.5px);
}

.input-1 p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;  
    color: #000000;
}

.input-1 input {
    width: 1170px;
    height: 50px;
    top: 250px;  
    background: #FFFFFF;
    border: 1px solid #96B348;
    box-sizing: border-box;
    box-shadow: 0px 0px 7px rgba(150, 179, 72, 0.5);
    border-radius: 3px;
}

input::placeholder {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;  
    color: #676767;
}



.input-2 {
    position: absolute;
    padding: 320px 0px 0px 0px;
    height: 19px;
    left: 4.3%;
    right: 88.12%;
    top: calc(50% - 19px/2 - 342.5px);
}

.input-2 p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;  
    color: #000000;
}

.input-box-1 {
    padding: 0px 0px 0px 0px;
}

.input-2 input {
    width: 1170px;
    height: 50px;
    top: 250px;  
    background: #FFFFFF;
    border: 1px solid rgb(196, 196, 196);
    box-sizing: border-box;
    box-shadow: 0px 0px 7px rgba(150, 179, 72, 0.5);
    border-radius: 3px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;  
    color: #676767;
}

input::placeholder {
    padding: 0px 0px 0px 20px;
}



.input-3 {
    position: absolute;
    padding: 440px 0px 0px 0px;
    height: 19px;
    left: 4.3%;
    right: 88.12%;
    top: calc(50% - 19px/2 - 342.5px);
}

.input-3 p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;  
    color: #000000;
}

.input-box-2 {
    padding: 0px 0px 0px 0px;
}

.input-3 input {
    width: 1170px;
    height: 50px;
    top: 250px;  
    background: #FFFFFF;
    border: 1px solid rgb(196, 196, 196);
    box-sizing: border-box;
    box-shadow: 0px 0px 7px rgba(150, 179, 72, 0.5);
    border-radius: 3px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;  
    color: #676767;
}

input::placeholder {
    padding: 0px 0px 0px 20px;
}



.input-4 {
    position: absolute;
    padding: 555px 0px 0px 0px;
    height: 19px;
    left: 4.3%;
    right: 88.12%;
    top: calc(50% - 19px/2 - 342.5px);
}

.input-4 p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;  
    color: #000000;
}

.input-box-3 {
    padding: 0px 0px 0px 0px;
}

.input-4 input {
    width: 1170px;
    height: 50px;
    top: 250px;  
    background: #FFFFFF;
    border: 1px solid rgb(196, 196, 196);
    box-sizing: border-box;
    box-shadow: 0px 0px 7px rgba(150, 179, 72, 0.5);
    border-radius: 3px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;  
    color: #676767;
}

input::placeholder {
    padding: 0px 0px 0px 20px;
}



.input-5 {
    position: absolute;
    padding: 670px 0px 0px 0px;
    height: 19px;
    left: 4.3%;
    right: 88.12%;
    top: calc(50% - 19px/2 - 342.5px);
}

.input-5 p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;  
    color: #000000;
}

.input-box-4 {
    display: inline-flex;
    padding: 0px 0px 0px 0px;
}

.input-box-4 p {
    text-align: center;
    width: 100px;
    padding: 0px 0px 0px 0px;
}

.input-5 input {
    width: 535px;
    height: 50px;
    top: 250px;  
    background: #FFFFFF;
    border: 1px solid rgb(196, 196, 196);
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}

input::placeholder {
    padding: 0px 0px 0px 20px;
}

/* PADS */

.pad-aling {
    width: 1240px;
}

.pads {
    position: absolute;
    padding: 790px 0px 0px 0px;
    width: 200px;
    height: 19px;
    left: 4.3%;
    right: 88.12%;
    top: calc(50% - 19px/2 - 342.5px);
}

.pads p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;  
    color: #000000;
}

.pad-box {
    display: inline-flex;
}

.pad-1 input {
    position: absolute;
    width: 150px;
    height: 50px;
    top: 848px;   
    background: #FFFFFF;
    border: 2px solid #96B348;
    box-sizing: border-box;
    border-radius: 3px;
}

.pad-1 input:valid {
    padding: 0px 0px 0px 0px;
    text-align: center;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px; 
    color: #96B348;
}

.pad-2 input {
    position: absolute;
    width: 150px;
    height: 50px;
    top: 848px;
    left: 163px;  
    background: #96B348;
    border: 2px solid #96B348;
    box-sizing: border-box;
    border-radius: 3px;
}

.pad-2 input:valid {
    padding: 0px 0px 0px 0px;
    text-align: center;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px; 
    color: #FFFFFF;
}

.pad-3 input {
    position: absolute;
    width: 150px;
    height: 50px;
    top: 848px;
    left: 326px;  
    background: #96B348;
    border: 2px solid #96B348;
    box-sizing: border-box;
    border-radius: 3px;
}

.pad-3 input:valid {
    padding: 0px 0px 0px 0px;
    text-align: center;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px; 
    color: #FFFFFF;
}




.pads-2 {
    position: absolute;
    width: 200px;
    height: 0px;
    padding: 760px 0px 150px 0px;
}


.pads-2 p {
    width: 1000px;
    padding: 10px 0px 0px 624px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}

.pad-box-2 {
    display: inline-flex;
    padding: 4px 0px 0px 550px;
}

.pad-4 input {
    position: absolute;
    width: 150px;
    height: 50px;
    top: 825px;
    left: 626px;  
    background: rgb(255, 255, 255);
    border: 2px solid #96B348;
    box-sizing: border-box;
    border-radius: 3px;
}

.pad-4 input:valid {
    padding: 0px 0px 0px 0px;
    text-align: center;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px; 
    color: #96B348;
}

.pad-5 {
    padding: 0px 0px 0px 12px;
}

.pad-5 input {
    position: absolute;
    width: 150px;
    height: 50px;
    top: 825px;
    left: 790px; 
    background: #96B348;
    border: 2px solid #96B348;
    box-sizing: border-box;
    border-radius: 3px;
}

.pad-5 input:valid {
    padding: 0px 0px 0px 0px;
    text-align: center;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px; 
    color: #FFFFFF;
}


/* TABLE */


.pad-aling-2 {
    width: 100%;
    display: inline-flex;
    padding: 20px 0px 0px 0px;
}

.pads-2-1 {
    padding: 45px 0px 0px 0px;
    width: 100%;
    height: 5px;
    left: 4.3%;
    right: 88.12%;
}

.pads-2-1 p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;  
    color: #000000;
    width: 200px;
}

.pad-box-2 {
    padding: 0px 0px 0px 0px;
    display: inline-flex;
}

.pad-1-1 input {
    position: absolute;
    width: 150px;
    height: 50px;
    top: 120px;   
    background: rgb(131, 156, 63);
    border: 2px solid #96B348;
    box-sizing: border-box;
    border-radius: 3px;
}

.pad-1-1 input:hover {
    position: absolute;
    width: 150px;
    height: 50px;
    top: 120px;   
    background: rgb(136, 161, 66);
    border: 2px solid #96B348;
    box-sizing: border-box;
    border-radius: 3px;
}

.pad-1-1 input:valid {
    padding: 0px 0px 0px 0px;
    text-align: center;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px; 
    color: #FFFFFF;
}

.pad-2-1 input {
    position: absolute;
    width: 150px;
    height: 50px;
    top: 120px;
    left: 227px;  
    background: #96B348;
    border: 2px solid #96B348;
    box-sizing: border-box;
    border-radius: 3px;
}

.pad-2-1 input:hover {
    position: absolute;
    width: 150px;
    height: 50px;
    top: 120px;
    left: 227px;  
    background: rgb(155, 184, 75);
    border: 2px solid #96B348;
    box-sizing: border-box;
    border-radius: 3px;
}

.pad-2-1 input:valid {
    padding: 0px 0px 0px 0px;
    text-align: center;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px; 
    color: #FFFFFF;
}

.pad-3-1 input {
    position: absolute;
    width: 150px;
    height: 50px;
    top: 120px;
    left: 390px;  
    background: #96B348;
    border: 2px solid #96B348;
    box-sizing: border-box;
    border-radius: 3px;
}

.pad-3-1 input:hover {
    position: absolute;
    width: 150px;
    height: 50px;
    top: 120px;
    left: 390px;  
    background: rgb(155, 184, 75);
    border: 2px solid #96B348;
    box-sizing: border-box;
    border-radius: 3px;
}

.pad-3-1 input:valid {
    padding: 0px 0px 0px 0px;
    text-align: center;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px; 
    color: #FFFFFF;
}


/* PADS 2 */


.pads-2-2 {
    width: 100%;
    height: 19px;
    padding: 30px 0px 0px 0px;
}


.pads-2-2 p {
    width: 1000px;
    padding: 15px 0px 0px 335px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}

.pad-box-2-1 {
    display: inline-flex;
}

.pad-4-1 input {
    position: absolute;
    width: 150px;
    height: 50px;
    top: 120px;
    left: 600px;  
    background: rgb(255, 255, 255);
    border: 2px solid #96B348;
    box-sizing: border-box;
    border-radius: 3px;
}

.pad-4-1 input:hover {
    position: absolute;
    width: 150px;
    height: 50px;
    top: 120px;
    left: 600px;  
    background: rgb(255, 255, 255);
    border: 2px solid rgb(167, 197, 83);
    box-sizing: border-box;
    border-radius: 3px;
}

.pad-4-1 input:after {
    position: absolute;
    width: 150px;
    height: 50px;
    top: 120px;
    left: 600px;  
    background: rgb(255, 255, 255);
    border: 2px solid rgb(167, 197, 83);
    box-sizing: border-box;
    border-radius: 3px;
}

.pad-4-1 input:valid {
    padding: 0px 0px 0px 0px;
    text-align: center;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px; 
    color: #96B348;
}

.pad-5-1 {
    padding: 0px 0px 0px 12px;
}

.pad-5-1 input {
    position: absolute;
    width: 150px;
    height: 50px;
    top: 120px;
    left: 762px; 
    background: #96B348;
    border: 2px solid #96B348;
    box-sizing: border-box;
    border-radius: 3px;
}

.pad-5-1 input:hover {
    position: absolute;
    width: 150px;
    height: 50px;
    top: 120px;
    left: 762px; 
    background: rgb(159, 189, 77);
    border: 2px solid #96B348;
    box-sizing: border-box;
    border-radius: 3px;
}

.pad-5-1 input:valid {
    padding: 0px 0px 0px 0px;
    text-align: center;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px; 
    color: #FFFFFF;
}


/* TAB */

.text-tab {
    position: absolute;
    width: 119px;
    height: 19px;
    left: 65px;
    top: 200px;
}

.text-tab p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}



/* TAB STYLE */


.table {
    width: 1230px;
    padding: 165px 0px 0px 0px;
}

.table th {
    padding: 20px 10px 10px 30px;
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    background-color: rgb(245, 245, 245);
    text-align: left;
}

.table td {
    padding: 20px 10px 10px 30px;
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
}



/* TAB STYLE 2 */


.table2 {
    width: 1250px;
    padding: 165px 0px 0px 0px;
}

.table2 th {
    padding: 20px 10px 10px 10px;
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    background-color: rgb(245, 245, 245);
    text-align: left;
}

.table2 td {
    padding: 20px 10px 10px 10px;
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
}


/* SEARCH */

.search {
    display: inline-flex;
    width: 1200px;
    padding: 100px 0px 0px 0px;
}

.sr-img {
    width: 20px;
    height: 20px;
}

.search input::placeholder {
    font-family: Fira Sans;
    font-style: italic;
}

.w3-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    background-color: #f7f7f7;
}

.w3-animate-input {
    transition: width 0.4s ease-in-out;
}

.sr-menu {
    display: inline-flex;
    padding: 38px 0px 20px 0px;
    border-bottom: 1px solid #E5E5E5;
}


.sr-menu a {
    padding: 0px 0px 0px 40px;
    text-decoration: none;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.sr-menu li {
    text-decoration: none;
    list-style: none;
}

.sr-menu a:hover {
    color: #96B348;
}


/* TABLE 3 */

.table3 {
    width: 1250px;
    padding: 40px 0px 0px 0px;
}

.table3 th {
    padding: 20px 10px 10px 10px;
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    background-color: rgb(245, 245, 245);
    text-align: left;
}

.table3 td {
    padding: 20px 10px 10px 10px;
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
}


/* LOGIN */


.home-logo {
    position: absolute;
    width: 120px;
    height: 139px;
    left: 11%;
    bottom: 0.2%;
}

.login-block {
    position: absolute;
    width: 391px;
    height: 29px;
    left: 39%;
    top: 27%;
}

.login-block p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding-left: 5px;
}

.h-mail {
    width: 800px;
    padding: 30px 0px 0px 40px;
}

.h-mail-input {
    padding: 8px;
    display: block;
    border: none;
    outline:none;
    border-bottom: 1px solid #ccc;
    background-color: #f7f7f7;
}

.h-mail-input:hover {
    padding: 8px;
    display: block;
    border: none;
    outline:none;
    border-bottom: 1px solid rgb(55, 245, 87);
    background-color: #f7f7f7;
}

.h-pass {
    width: 800px;
    padding: 30px 0px 0px 40px;
}

.h-pass-input {
    padding: 8px;
    display: block;
    border: none;
    outline:none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    background-color: #f7f7f7;
}

.h-pass-input:hover {
    padding: 8px;
    display: block;
    border: none;
    outline:none;
    border-bottom: 1px solid rgb(55, 245, 87);
    width: 100%;
    background-color: #f7f7f7;
}

.h-pass textarea:focus, input:focus {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #676767;
}

.h-pass input, select, textarea{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #676767;
}

.h-mail input::placeholder {
    text-align: left;
}

.h-mail textarea:focus, input:focus {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #676767;
}

.h-mail input, select, textarea{
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #676767;
}

.login-pad {
    width: 400px;
    height: 100px;
    padding: 45px 0px 0px 40px;
}

.login-pad input {
    width: 230px;
    height: 40px;
    position: absolute;
    background: #96B348;
    border-radius: 3px;
    border: solid 1px #96B348;
}

.login-pad input:valid {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
}


.log-text {
    position: absolute;
    display: inline-flex;
    width: 485px;
    height: 31px;
    top: 390px;
    left: -30px;
}

.log-text p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.log-text a {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #96B348;
    padding: 20px 0px 0px 10px;
}


/* EVENTS */

.ev-text-block-1 {
    display: inline-flex;
    position: absolute;
    width: 1202px;
    height: 60px;
    left: 65px;
    top: 230px;
    background: rgb(241, 241, 241);
}

.ev-text-1 {
    position: absolute;
    display: inline-flex;
    height: 19px;
    left: 30px;
}

.ev-text-img {
    margin: 0px 0px 0px 10px;
}

.ev-text-img2 {
    padding: 15px 0px 0px 0px;
}

.ev-text-img-2 {
    margin: 0px 0px 0px 10px;
}

.ev-text-img-3 {
    padding: 15px 0px 0px 0px;
}

.ev-text-1 p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;   
    color: #000000;
}

.ev-text-2 {
    position: absolute;
    display: inline-flex;
    height: 19px;
    left: 365px;
}

.ev-text-2 p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;   
    color: #000000;
}

.ev-text-3 {
    position: absolute;
    height: 19px;
    left: 725px;
}

.ev-text-3 p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;   
    color: #000000;
}


/* EV BLOCK 2 */

.ev-text-block-2 {
    display: inline-flex;
    position: absolute;
    width: 1202px;
    height: 60px;
    left: 65px;
    top: 290px;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(238, 238, 238);
}

.ev-text-4 {
    position: absolute;
    height: 19px;
    left: 30px;
}

.ev-text-4 p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
}

.ev-text-5 {
    position: absolute;
    height: 19px;
    left: 365px;
}

.ev-text-5 p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;   
    color: #000000;
}

.ev-dot-1 {
    position: absolute;
    margin: 21px 0px 0px 0px;
    background: #FFB800;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.ev-text-6 {
    position: absolute;
    display: inline-flex;
    width: 400px;
    height: 19px;
    left: 725px;
}

.ev-text-6 p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    padding: 0px 0px 0px 20px;
    color: #000000;
}

.ev-button-block-1 input {
    width: 200px;
    height: 40px;
    position: absolute;
    left: 77.66%;
    right: 6.72%;
    top: 16%;
    bottom: 66.7%;
    background: #96B348;
    border-radius: 3px;
    border: none;
}

.ev-button-block-1 input:hover {
    width: 200px;
    height: 40px;
    position: absolute;
    left: 77.66%;
    right: 6.72%;
    top: 16%;
    bottom: 66.7%;
    background: rgb(153, 184, 71);
    border-radius: 3px;
    border: none;
}

.ev-button-block-1 input:valid {
    font-family: Fira Sans;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
}

/* EV BLOCK 3 */

.ev-text-block-3 {
    display: inline-flex;
    position: absolute;
    width: 1202px;
    height: 60px;
    left: 65px;
    top: 350px;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(238, 238, 238);
}

.ev-text-7 {
    position: absolute;
    height: 19px;
    left: 30px;
}

.ev-text-7 p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
}

.ev-text-8 {
    position: absolute;
    height: 19px;
    left: 365px;
}

.ev-text-8 p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;   
    color: #000000;
}

.ev-dot-2 {
    position: absolute;
    margin: 21px 0px 0px 0px;
    background: #CA1B1B;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.ev-text-9 {
    position: absolute;
    display: inline-flex;
    width: 400px;
    height: 19px;
    left: 725px;
}

.ev-text-9 p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    padding: 0px 0px 0px 20px;
    color: #000000;
}

.ev-button-block-2 input {
    width: 200px;
    height: 40px;
    position: absolute;
    left: 77.66%;
    right: 6.72%;
    top: 16%;
    bottom: 66.7%;
    background: #96B348;
    border-radius: 3px;
    border: none;
}

.ev-button-block-2 input:hover {
    width: 200px;
    height: 40px;
    position: absolute;
    left: 77.66%;
    right: 6.72%;
    top: 16%;
    bottom: 66.7%;
    background: rgb(153, 184, 71);
    border-radius: 3px;
    border: none;
}

.ev-button-block-2 input:valid {
    font-family: Fira Sans;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
}

/* EV BLOCK 4 */

.ev-text-block-4 {
    display: inline-flex;
    position: absolute;
    width: 1202px;
    height: 60px;
    left: 65px;
    top: 410px;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(238, 238, 238);
}

.ev-text-10 {
    position: absolute;
    height: 19px;
    left: 30px;
}

.ev-text-10 p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
}

.ev-text-11 {
    position: absolute;
    height: 19px;
    left: 365px;
}

.ev-text-11 p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;   
    color: #000000;
}

.ev-dot-3 {
    position: absolute;
    margin: 21px 0px 0px 0px;
    background: #719B00;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.ev-text-12 {
    position: absolute;
    display: inline-flex;
    width: 400px;
    height: 19px;
    left: 725px;
}

.ev-text-12 p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    padding: 0px 0px 0px 20px;
    color: #000000;
}

.ev-button-block-3 input {
    width: 200px;
    height: 40px;
    position: absolute;
    left: 77.66%;
    right: 6.72%;
    top: 16%;
    bottom: 66.7%;
    background: #96B348;
    border-radius: 3px;
    border: none;
}

.ev-button-block-3 input:hover {
    width: 200px;
    height: 40px;
    position: absolute;
    left: 77.66%;
    right: 6.72%;
    top: 16%;
    bottom: 66.7%;
    background: rgb(153, 184, 71);
    border-radius: 3px;
    border: none;
}

.ev-button-block-3 input:valid {
    font-family: Fira Sans;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
}

/* EV BLOCK 5 */

.ev-text-block-5 {
    display: inline-flex;
    position: absolute;
    width: 1202px;
    height: 60px;
    left: 65px;
    top: 470px;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(238, 238, 238);
}

.ev-text-13 {
    position: absolute;
    height: 19px;
    left: 30px;
}

.ev-text-13 p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
}

.ev-text-14 {
    position: absolute;
    height: 19px;
    left: 365px;
}

.ev-text-14 p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;   
    color: #000000;
}

.ev-dot-4 {
    position: absolute;
    margin: 21px 0px 0px 0px;
    background: #CA1B1B;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.ev-text-15 {
    position: absolute;
    display: inline-flex;
    width: 400px;
    height: 19px;
    left: 725px;
}

.ev-text-15 p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    padding: 0px 0px 0px 20px;
    color: #000000;
}

.ev-button-block-4 input {
    width: 200px;
    height: 40px;
    position: absolute;
    left: 77.66%;
    right: 6.72%;
    top: 16%;
    bottom: 66.7%;
    background: #96B348;
    border-radius: 3px;
    border: none;
}

.ev-button-block-4 input:hover {
    width: 200px;
    height: 40px;
    position: absolute;
    left: 77.66%;
    right: 6.72%;
    top: 16%;
    bottom: 66.7%;
    background: rgb(153, 184, 71);
    border-radius: 3px;
    border: none;
}

.ev-button-block-4 input:valid {
    font-family: Fira Sans;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
}

/* EV BLOCK 6 */

.ev-text-block-6 {
    display: inline-flex;
    position: absolute;
    width: 1202px;
    height: 60px;
    left: 65px;
    top: 530px;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(238, 238, 238);
}

.ev-text-16 {
    position: absolute;
    height: 19px;
    left: 30px;
}

.ev-text-16 p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
}

.ev-text-17 {
    position: absolute;
    height: 19px;
    left: 365px;
}

.ev-text-17 p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;   
    color: #000000;
}

.ev-dot-5 {
    position: absolute;
    margin: 21px 0px 0px 0px;
    background: #CA1B1B;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.ev-text-18 {
    position: absolute;
    display: inline-flex;
    width: 400px;
    height: 19px;
    left: 725px;
}

.ev-text-18 p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    padding: 0px 0px 0px 20px;
    color: #000000;
}

.ev-button-block-5 input {
    width: 200px;
    height: 40px;
    position: absolute;
    left: 77.66%;
    right: 6.72%;
    top: 16%;
    bottom: 66.7%;
    background: #96B348;
    border-radius: 3px;
    border: none;
}

.ev-button-block-5 input:hover {
    width: 200px;
    height: 40px;
    position: absolute;
    left: 77.66%;
    right: 6.72%;
    top: 16%;
    bottom: 66.7%;
    background: rgb(153, 184, 71);
    border-radius: 3px;
    border: none;
}

.ev-button-block-5 input:valid {
    font-family: Fira Sans;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
}


/* MODAL */

.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0px;
    top: 0px;
}

.moda-box {
    border-top: #96B348 solid 3px;
    position: absolute;
    left: 4.3%;
    right: 4.3%;
    top: 1%;
    bottom: 1%;
    background: #FFFFFF;
}

/* CLOSE ICON */

.close {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 43px;
    line-height: 96px;
    position: absolute;
    right: 15px;
    top: 30px;
    float: right;
    line-height: 1px;
    opacity: 0.2;
}

.close:hover {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 43px;
    line-height: 96px;
    position: absolute;
    right: 15px;
    top: 30px;
    float: right;
    line-height: 1px;
    opacity: 0.2;
    cursor: pointer;
}

.modal-title {
    position: absolute;
    width: 130px;
    height: 34px;
    left: 6.88%;
    right: 84.3%;
    top: 2%;
}

.modal-title h1 {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
}

.modal-title p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 4px;
    color: #979797;
}


/* MODAL INFO */

.modal-info {
    display: inline-flex;
    position: absolute;
    width: 500px;
    height: 50px;
    left: 85px;
    top: 110px;
}

/* MODAL INFO */

.modal-info-1 {
    display: inline-flex;
    margin: 0px 30px 0px 0px;
}

.modal-info-1 p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.modal-info-dot-1 {
    width: 20px;
    height: 20px;
    margin: 13px 10px 0px 0px;
    background: rgb(1, 153, 255);
    border: 1px solid rgb(44, 153, 255);
    box-sizing: border-box;
    border-radius: 7px;
}


.modal-info-2 {
    display: inline-flex;
    margin: 0px 30px 0px 0px;
}

.modal-info-2 p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.modal-info-dot-2 {
    width: 20px;
    height: 20px;
    margin: 13px 10px 0px 0px;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(170, 170, 170);
    box-sizing: border-box;
    border-radius: 7px;
}


.modal-info-3 {
    display: inline-flex;
    margin: 0px 30px 0px 0px;
}

.modal-info-3 p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.modal-info-dot-3 {
    width: 20px;
    height: 20px;
    margin: 13px 10px 0px 0px;
    background: rgb(39, 228, 71);
    border: 1px solid rgb(39, 228, 71);
    box-sizing: border-box;
    border-radius: 7px;
}

/* PLACE */

.modal-place {
    position: absolute;
    width: 527px;
    height: 413px;
    left: 85px;
    top: 155px;
}

.modal-place-text {
    width: 445px;
    border-bottom: #b4b4b4 1px solid;
    margin: 0px 0px 17px 90px;
}

.modal-place-text p {
    text-align: center;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

/* PLACE BOX */

.modal-place-box {
    margin: -7px 0px 0px 0px;
    display: inline-flex;
}

.modal-place-box-plus {
    margin: 0px 0px 0px 15px;
    display: inline-flex;
}

.modal-place-box p {
    width: 49px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #000000;
    margin: 10px 39px 0px 0px;
}

.modal-place-box-1 {
    width: 20px;
    height: 20px;
    margin: 10px 3px 0px 0px;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(170, 170, 170);
    box-sizing: border-box;
    border-radius: 7px;
}

.modal-place-box-1:hover {
    width: 20px;
    height: 20px;
    margin: 10px 3px 0px 0px;
    background: rgb(39, 228, 71);
    border: 1px solid rgb(39, 228, 71);
    box-sizing: border-box;
    border-radius: 7px;
}

.modal-place-box-1 p {
    width: 100%;
    font-family: Fira Sans;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #000000;
    margin: 2px 0px 0px 0px;
    user-select: none;
}

.modal-place-box-1 p:hover {
    width: 100%;
    height: 100%;
    font-family: Fira Sans;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #ffffff;
    margin: 3px 0px 0px 0px;
    user-select: none;
}

.modal-place-box-2 {
    width: 20px;
    height: 20px;
    margin: 10px 3px 0px 0px;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(170, 170, 170);
    box-sizing: border-box;
    border-radius: 7px;
}

.modal-place-box-2:hover {
    width: 20px;
    height: 20px;
    margin: 10px 3px 0px 0px;
    background: rgb(39, 228, 71);
    border: 1px solid rgb(39, 228, 71);
    box-sizing: border-box;
    border-radius: 7px;
}

.modal-place-box-2 p {
    width: 100%;
    height: 100%;
    font-family: Fira Sans;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #000000;
    margin: 2px 0px 0px 0px;
    user-select: none;
}

.modal-place-box-2 p:hover {
    width: 100%;
    height: 100%;
    font-family: Fira Sans;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #ffffff;
    margin: 3px 0px 0px 0px;
    user-select: none;
}

.modal-place-box-3 {
    width: 20px;
    height: 20px;
    margin: 10px 3px 0px 0px;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(170, 170, 170);
    box-sizing: border-box;
    border-radius: 7px;
}

.modal-place-box-3:hover {
    width: 20px;
    height: 20px;
    margin: 10px 3px 0px 0px;
    background: rgb(39, 228, 71);
    border: 1px solid rgb(39, 228, 71);
    box-sizing: border-box;
    border-radius: 7px;
}

.modal-place-box-3 p {
    width: 100%;
    height: 100%;
    font-family: Fira Sans;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #000000;
    margin: 2px 0px 0px 0px;
    user-select: none;
}

.modal-place-box-3 p:hover {
    width: 100%;
    height: 100%;
    font-family: Fira Sans;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #ffffff;
    margin: 3px 0px 0px 0px;
    user-select: none;
}

.modal-place-box-4 {
    width: 20px;
    height: 20px;
    margin: 10px 3px 0px 0px;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(170, 170, 170);
    box-sizing: border-box;
    border-radius: 7px;
}

.modal-place-box-4:hover {
    width: 20px;
    height: 20px;
    margin: 10px 3px 0px 0px;
    background: rgb(39, 228, 71);
    border: 1px solid rgb(39, 228, 71);
    box-sizing: border-box;
    border-radius: 7px;
}

.modal-place-box-4 p {
    width: 100%;
    height: 100%;
    font-family: Fira Sans;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #000000;
    margin: 2px 0px 0px 0px;
    user-select: none;
}

.modal-place-box-4 p:hover {
    width: 100%;
    height: 100%;
    font-family: Fira Sans;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #ffffff;
    margin: 3px 0px 0px 0px;
    user-select: none;
}

.modal-place-box-5 {
    width: 20px;
    height: 20px;
    margin: 10px 3px 0px 0px;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(170, 170, 170);
    box-sizing: border-box;
    border-radius: 7px;
}

.modal-place-box-5:hover {
    width: 20px;
    height: 20px;
    margin: 10px 3px 0px 0px;
    background: rgb(39, 228, 71);
    border: 1px solid rgb(39, 228, 71);
    box-sizing: border-box;
    border-radius: 7px;
}

.modal-place-box-5 p {
    width: 100%;
    height: 100%;
    font-family: Fira Sans;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #000000;
    margin: 2px 0px 0px 0px;
    user-select: none;
}

.modal-place-box-5 p:hover {
    width: 100%;
    height: 100%;
    font-family: Fira Sans;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #ffffff;
    margin: 3px 0px 0px 0px;
    user-select: none;
}

.modal-place-box-6 {
    width: 20px;
    height: 20px;
    margin: 10px 3px 0px 0px;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(170, 170, 170);
    box-sizing: border-box;
    border-radius: 7px;
}

.modal-place-box-6:hover {
    width: 20px;
    height: 20px;
    margin: 10px 3px 0px 0px;
    background: rgb(39, 228, 71);
    border: 1px solid rgb(39, 228, 71);
    box-sizing: border-box;
    border-radius: 7px;
}

.modal-place-box-6 p {
    width: 100%;
    height: 100%;
    font-family: Fira Sans;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #000000;
    margin: 2px 0px 0px 0px;
    user-select: none;
}

.modal-place-box-6 p:hover {
    width: 100%;
    height: 100%;
    font-family: Fira Sans;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #ffffff;
    margin: 3px 0px 0px 0px;
    user-select: none;
}

.modal-place-box-7 {
    width: 20px;
    height: 20px;
    margin: 10px 3px 0px 0px;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(170, 170, 170);
    box-sizing: border-box;
    border-radius: 7px;
}

.modal-place-box-7:hover {
    width: 20px;
    height: 20px;
    margin: 10px 3px 0px 0px;
    background: rgb(39, 228, 71);
    border: 1px solid rgb(39, 228, 71);
    box-sizing: border-box;
    border-radius: 7px;
}

.modal-place-box-7 p {
    width: 100%;
    height: 100%;
    font-family: Fira Sans;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #000000;
    margin: 4px 0px 0px 0px;
    user-select: none;
}

.modal-place-box-7 p:hover {
    width: 100%;
    height: 100%;
    font-family: Fira Sans;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #ffffff;
    margin: 3px 0px 0px 0px;
    user-select: none;
}

.modal-place-box-8 {
    width: 20px;
    height: 20px;
    margin: 10px 3px 0px 0px;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(170, 170, 170);
    box-sizing: border-box;
    border-radius: 7px;
}

.modal-place-box-8:hover {
    width: 20px;
    height: 20px;
    margin: 10px 3px 0px 0px;
    background: rgb(39, 228, 71);
    border: 1px solid rgb(39, 228, 71);
    box-sizing: border-box;
    border-radius: 7px;
}

.modal-place-box-8 p {
    width: 100%;
    height: 100%;
    font-family: Fira Sans;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #000000;
    margin: 3px 0px 0px 0px;
    user-select: none;
}

.modal-place-box-8 p:hover {
    width: 100%;
    height: 100%;
    font-family: Fira Sans;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #ffffff;
    margin: 4px 0px 0px 0px;
    user-select: none;
}


.modal-place-box-9 {
    width: 20px;
    height: 20px;
    margin: 10px 3px 0px 0px;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(170, 170, 170);
    box-sizing: border-box;
    border-radius: 7px;
}

.modal-place-box-9:hover {
    width: 20px;
    height: 20px;
    margin: 10px 3px 0px 0px;
    background: rgb(39, 228, 71);
    border: 1px solid rgb(39, 228, 71);
    box-sizing: border-box;
    border-radius: 7px;
}

.modal-place-box-9 p {
    width: 100%;
    height: 100%;
    font-family: Fira Sans;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #000000;
    margin: 3px 0px 0px 0px;
    user-select: none;
}

.modal-place-box-9 p:hover {
    width: 100%;
    height: 100%;
    font-family: Fira Sans;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #ffffff;
    margin: 4px 0px 0px 0px;
    user-select: none;
}



.modal-place-box-10 {
    width: 20px;
    height: 20px;
    margin: 10px 3px 0px 0px;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(170, 170, 170);
    box-sizing: border-box;
    border-radius: 7px;
}

.modal-place-box-10:hover {
    width: 20px;
    height: 20px;
    margin: 10px 3px 0px 0px;
    background: rgb(39, 228, 71);
    border: 1px solid rgb(39, 228, 71);
    box-sizing: border-box;
    border-radius: 7px;
}

.modal-place-box-10 p {
    width: 100%;
    height: 100%;
    font-family: Fira Sans;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #000000;
    margin: 3px 0px 0px 0px;
    user-select: none;
}

.modal-place-box-10 p:hover {
    width: 100%;
    height: 100%;
    font-family: Fira Sans;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #ffffff;
    margin: 4px 0px 0px 0px;
    user-select: none;
}


/* MODAL RIGHT BLOCK */

.modal-r-block {
    position: absolute;
    width: 484px;
    height: 100px;
    left: 60%;
    right: 84.3%;
    top: 7%;
}

.modal-r-block-time {
    width: 100%;
    position: absolute;
    height: 75px;
    display: inline-flex;
    border-bottom: 1px solid #E5E5E5;
}

.clock-img {
    width: 20px;
    height: 20px;
    left: 52.42%;
    right: 45.62%;
    margin: 18px 20px 0px 0px;
}

.modal-r-block-time p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #FF3434;
    margin: 14px 170px 0px 0px;
}

#app {
    width: 245px;
}

.modal-r-block-time input {
    width: 200px;
    height: 45px;
    left: 73.75%;
    right: 6.72%;
    top: 17.09%;
    bottom: 78.03%;
    background: #C4C4C4;
    border-radius: 5px;
    border: none;
}

.modal-r-block-time input:valid {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.modal-r-block-time input:hover {
    width: 200px;
    height: 45px;
    left: 73.75%;
    right: 6.72%;
    top: 17.09%;
    bottom: 78.03%;
    background: rgb(201, 201, 201);
    border-radius: 5px;
    border: none;
}

.modal-r-block-time input:valid:hover {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: rgb(255, 255, 255);
}

/* 2 STEP */

.modal-r-block-v {
    display: inline-flex;
    padding: 80px 0px 0px 0px;
}

.modal-r-block-box {
    width: 25px;
    height: 25px;
    background: #96B348;
    border-radius: 3px;
    margin: 10px 15px 0px 0px;
}

.clock-img-v {
    padding: 6px 0px 0px 5px;
    left: 0%;
    right: 0%;
    top: 11.57%;
    bottom: 11.57%;
}

.modal-r-block-v p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #000000;
}



.modal-r-block-box-2 {
    width: 30px;
    height: 30px;
    background: #96B348;
    border-radius: 3px;
    margin: 10px 15px 0px 0px;
}

.modal-r-block-v-2 {
    display: inline-flex;
    width: 500px;
}

.modal-r-block-v-2 p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #000000;
    padding: 4px 0px 0px 0px;
}

.modal-r-block-v-2 a {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: right;
    color: #000000;
    padding: 15px 0px 0px 280px;
}


.clock-img-v-2 {
    padding: 8px 0px 0px 8px;
    left: 0%;
    right: 0%;
    top: 11.57%;
    bottom: 11.57%;
}

.modal-r-block-2 {
    position: absolute;
    width: 484px;
    height: 100px;
    left: 60%;
    right: 84.3%;
    top: 16%;
    padding: 45px 0px 0px 0px;
}

/* PROMO CODE */

.modal-promo {
    position: absolute;
    display: inline;
    width: 484px;
    left: 750px;
    top: 300px;
    border-top: 1px solid #E5E5E5;
}

.modal-promo-input {
    position: absolute;
    width: 400px;
    height: 0px;
    top: 20px;
}

.modal-promo-pad {
    padding-top: 35px;
}

.modal-promo-pad input {
    width: 160px;
    height: 40px;
    position: absolute;
    left: 67%;
    right: 6.72%;
    top: 44.14%;
    bottom: 50.98%;
    background: #96B348;
    border: 2px solid #96B348;
    box-sizing: border-box;
    border-radius: 5px;
}

.modal-promo-pad input:hover {
    width: 160px;
    height: 40px;
    position: absolute;
    left: 67%;
    right: 6.72%;
    top: 44.14%;
    bottom: 50.98%;
    background: rgb(156, 185, 74);
    border: 2px solid #96B348;
    box-sizing: border-box;
    border-radius: 5px;
}

.modal-promo-pad input:valid {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.modal-promo-input input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    background-color: #ffffff;
}

.modal-promo-input input:hover {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid rgb(55, 245, 87);
    width: 100%;
    background-color: #ffffff;
}

.modal-promo-input input:valid {
    text-align: left;
}


/* MODAL BUY */

.modal-buy {
    position: absolute;
    width: 584px;
    height: 328px;
    left: 750px;
    top: 360px;
}

.modal-buy-t p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: #000000;
}

.modal-buy-pads {
    width: 485px;
    border-top: 1px solid #E5E5E5;
}

.modal-buy-pads p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 12px;
    color: #000000;
}

.modal-buy-pads-box {
    display: inline-flex;
}

.modal-buy-pads-box input {
    width: 244px;
    height: 45px;
    border: 2px solid rgb(219, 219, 219);
    background: #FFFFFF;
}

.modal-buy-pads-box input:valid {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.modal-buy-pads-box input:hover {
    width: 244px;
    height: 45px;
    border: 2px solid rgb(255, 166, 33);
    background: #FFFFFF;
}

.modal-buy-pads-box input:valid:hover {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: rgb(255, 166, 33);
}

.modal-buy-pad-text p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.modal-buy-pad-text {
    display: inline-flex;
}

.modal-buy-img {
    width: 20px;
    height: 20px;
    margin: 12px 10px 0px 0px;
}

.modal-buy-pads-box-2 input {
    width: 487px;
    height: 40px;
    background: #96B348;
    border: 2px solid #96B348;
}

.modal-buy-pads-box-2 input:hover {
    width: 487px;
    height: 40px;
    background: rgb(154, 184, 74);
    border: 2px solid #96B348;
    border-radius: 5px;
}

.modal-buy-pads-box-2 input:valid {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 34px;
    color: #ffffff;
    border-radius: 5px;
}

/* MODAL CHECK */

.modal-check {
    border-top: #96B348 solid 3px;
    position: absolute;
    width: 420px;
    height: 600px;
    left: 35%;
    right: 35%;
    top: 4%;
    bottom: 4%;
    background: #FFFFFF;
    border-radius: 4px;
}

.modal-check-aling {
    margin: -20px 0px 0px 0px;
}

.modal-check-top {
    width: 402px;
    height: 102px;
    padding: 40px 0px 0px 120px;
}

.modal-check-img {
    width: 50%;
    height: 155%;
    padding: 0px 0px 0px 45px;
}

.modal-check-top h1 {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #000000;
}

.modal-check-pad {
    margin: 200px 0px 0px 0px;
}

.modal-check-pad-1 {
    padding: 0px 0px 0px 30px;
}

.modal-check-pad-2 a {
    padding: 3px 0px 0px 0px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    color: #000000;
}

.modal-check-pad-2 {
    display: inline-flex;
    padding: 0px 0px 0px 30px;
}

.modal-check-pad-3 {
    display: inline-flex;
    padding: 0px 0px 0px 30px;
}

.modal-check-pad-3 a {
    padding: 3px 0px 0px 0px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    color: #000000;
}

.modal-check-text {
    position: absolute;
    height: 34px;
    padding: 150px 0px 0px 30px;
}

.modal-check-text h1 {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}

.modal-check-text-2 {
    position: absolute;
    height: 34px;
    padding: 0px 0px 0px 30px;
}

.modal-check-text-2 h1 {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}

.modal-check-text p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #979797;
}

.modal-check-pad {
    padding: 30px 0px 0px 0px;
}

.modal-check-box {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.modal-check-box p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #000000;
    margin: 0px 195px 0px 0px;
}

.modal-check-pd {
    padding: 50px 0px 0px 30px;
}

.modal-check-pd input {
    width: 180px;
    height: 35px;
    border: 2px solid #96B348;
    box-sizing: border-box;
    border-radius: 5px;
    background: #FFFFFF;
}

.modal-check-pd input:hover {
    width: 180px;
    height: 35px;
    border: 2px solid #96B348;
    box-sizing: border-box;
    border-radius: 5px;
    background: #96B348;
}

.modal-check-pd input:valid {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #96B348;
}

.modal-check-pd input:valid:hover {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: rgb(255, 255, 255);
}

.modal-check-pd-2 {
    padding: 10px 0px 0px 30px;
}

.modal-check-pd-2 input {
    width: 365px;
    height: 35px;
    background: #96B348;
    border: 2px solid #96B348;
    box-sizing: border-box;
    border-radius: 5px;
}

.modal-check-pd-2 input:hover {
    width: 365px;
    height: 35px;
    background: rgb(153, 182, 74);
    border: 2px solid rgb(153, 182, 74);
    box-sizing: border-box;
    border-radius: 5px;
}

.modal-check-pd-2 input:valid {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #FFFFFF;
}

/* CHECK BOX*/ 

.modal-check-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  border-radius: 3px;
}


.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(180, 180, 180);
  border-radius: 3px;
}


.modal-check-box:hover input ~ .checkmark {
  background-color: rgb(158, 158, 158);
  border-radius: 3px;
}


.modal-check-box input:checked ~ .checkmark {
    background: #96B348;
    border-radius: 3px;
}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  border-radius: 3px;
}


.modal-check-box input:checked ~ .checkmark:after {
  display: block;
  border-radius: 3px;
}


.modal-check-box .checkmark:after {
  left: 9px;
  top: 5px;
  width: 7px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 3px;
}

/* CHECK BOX 2 */

.modal-check-pad-4 a {
    padding: 0px 0px 0px 110px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: #000000;
}

.modal-check-pad-4 {
    display: inline-flex;
    padding: 0px 0px 0px 0px;
}


.modal-check-pad-5 a {
    padding: 0px 0px 0px 110px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: #000000;
}

.modal-check-pad-5 {
    display: inline-flex;
    margin: 0px 0px 20px 0px;
}


/* MODAL CHECK BACK */

.modal-check-back {
    border-top: #96B348 solid 3px;
    position: absolute;
    width: 430px;
    height: 450px;
    left: 36%;
    right: 34%;
    top: 13%;
    bottom: 15%;
    background: #FFFFFF;
    border-radius: 4px;
}

.modal-check-text-3 {
    position: absolute;
    width: 80%;
    height: 104px;
    padding: 5px 0px 0px 30px;
    border-bottom: #e0e0e0 solid 1px;
}

.modal-check-text-3 h1 {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}

.modal-check-text-3 p {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #979797;
}

.modal-check-top-2 {
    width: 402px;
    height: 102px;
    padding: 40px 0px 0px 30px;
}

.modal-check-top-2 h1 {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    color: #000000;
}

.modal-check-pad-s {
    margin: 130px 0px 0px 0px;
}

.modal-check-pd-a {
    display: inline-flex;
    padding: 70px 0px 0px 30px;
}

.modal-check-pd-a input {
    width: 180px;
    height: 35px;
    background: rgb(255, 255, 255);
    border: 2px solid #96B348;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0px 10px 0px 0px;
}

.modal-check-pd-a input:hover {
    width: 180px;
    height: 35px;
    background: rgb(150, 179, 72);
    border: 2px solid #96B348;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0px 10px 0px 0px;
}

.modal-check-pd-a input:valid {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #96B348;
}

.modal-check-pd-a input:valid:hover {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: rgb(255, 255, 255);
}

.modal-check-text-x {
    position: absolute;
    width: 400px;
    height: 54px;
    padding: 0px 0px 0px 30px;
    border-bottom: #e0e0e0 solid 1px;
}

.modal-check-text-x h1 {
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}